# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.envrc
*.env
*.env.*

# PyCharm / JetBrains
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE specific files
.vscode/

# CSV file containing list of websites
websites.csv

# Logs
*.log
logs/
